@font-face {
  font-family: 'RB Magnat Neue Text Test';
  src: url('/static/fonts/RBMagnatNeueText-SemiBold.woff2') format('woff2'),
       url('/static/fonts/RBMagnatNeueText-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'RB Magnat Neue Text Test';
  background-color: #f7e5d6;
  background-image: url('/static/images/J&O Wedding New Invite pattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.form-container {
  background-color: #b58159;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.form-title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

img {
  width: 200px;
  height: auto;
}

.form-group {
  margin-bottom: 15px;
  text-align: center;
}

.form-label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 6px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background-color: #fff;
  outline: none;
}

.form-input:focus {
  border-color: #bb6a3b;
}

.suggestions-list {
  list-style-type: none;
  background: white;
  border-radius: 5px;
  position: absolute;
  width: 80%;
  left: 10%;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background: #bb6a3b;
  color: white;
}

.submit-button {
  background-color: #bb6a3b;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.loading-spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.hidden {
  display: none;
}

.footer-image {
  position: fixed;
  bottom: 20px;  /* Adjust this value if needed */
  left: 50%;
  transform: translateX(-50%); /* Centers the image horizontally */
  width: 120px; /* Adjust size as needed */
  z-index: 1000; /* Ensures it's above other content */
}
@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}
