<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check-In</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checkinStyle.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/JO FAVICON 2.png') }}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1 class="form-title">Guest Check-In</h1>
            <img src="{{ url_for('static', filename='images/Jake & Olivia Name newest logo.png') }}" alt="Wedding Logo" class="logo">
            <form id="checkinForm">
                <div class="form-group">
                    <label for="code" class="form-label">Enter Your Code</label>
                    <input type="text" id="code" name="code" class="form-input" required>
                </div>
                <button type="submit" class="submit-button">Check In</button>
            </form>
            <div id="responseMessage" class="response-message"></div>
        </div>
    </div>

    <script>
        document.getElementById('checkinForm').addEventListener('submit', function (e) {
            e.preventDefault();
            const code = document.getElementById('code').value;

            fetch('/check-in', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ code: code }),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('responseMessage').textContent = data.message;
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
