<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jake and Olivia Wedding RSVP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/JO FAVICON 2.png') }}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <img src="{{ url_for('static', filename='images/jo logo white.png') }}" alt="Wedding Logo" class="logo">
            <a href="/rsvp" class="submit-button">RSVP Here</a>
            <div class="wedding-info">
                <p>3 Maseru Avenue, East Legon, Accra</p>
                <p>On Saturday, 3rd May 2025</p>
                <p>At 2 o'clock in the Afternoon</p>
                <div class="spacer">
                    <p>________________________________</p>
                </div>
                <div class="spacer2">
                    <p><strong>Kindly RSVP before Friday, 18th April 2025</strong></p>
                </div>
            </div>
        </div>
       
    </div>
</body>
</html>