<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jake and Olivia Wedding RSVP | Check-in Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/summaryStyling.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/JO FAVICON 2.png') }}">

    <script>
        // setTimeout(function() {
        //     window.location.href = "/checkin";  // Auto-redirect after 15 seconds
        // }, 15000);
    </script>
</head>
<body class="summary-container">
    <div class="summary-card">
        <h2>Welcome, <span class="guest-name">{{ guest_name }}</span>!</h2>
        <p>Your guest code: <strong>{{ code }}</strong></p>
        <p>Seating Zone: <strong>{{ seating_zone }}</strong></p>
        <p>Designation: <strong>{{ designation }}</strong></p>

        <!-- Button now redirects to check-in for a new guest -->
        <button onclick="window.location.href='/checkin'" class="btn-new-guest">New Guest</button>
    </div>
</body>
</html>
